.mainDiv-account{
    position: absolute;
    margin-top: 2.5rem;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer{
    position: relative;
    bottom: 0;
}
.glyphicon.glyphicon-list {
    font-size: 30px;
    color: greenyellow;
    position: absolute;
    right: 7rem;
    top: 2rem;
}
.glyphicon.glyphicon-list:hover {
    font-size: 30px;
    cursor: pointer;
    color: green;
}
#form-popup{
    position: relative;
    background-color: rgb(40, 41, 43);
    padding: 2rem;
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 10px;
    max-width: 800px;
    overflow-x: hidden;
}
#form-popup h1 {
    width: 100%;
    max-width: 100%; 
    padding: 2px;
    margin: 5px;
    font-family: "Allerta Stencil";
    color: greenyellow;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
#form-popup label {
    width: 100%;
    max-width: 100%; 
    padding: 2px;
    margin: 5px;
    font-family: "Allerta Stencil";
    color: greenyellow;
}
#form-popup input {
    width: 100%;
    max-width: 100%; 
    padding: 10px;
    margin: 2px;
    background: rgb(40, 41, 43);
    font-family: "Allerta Stencil";
    color: greenyellow;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}
#form-popup input::placeholder {
    color: yellowgreen;
}
#form-popup select {
    width: 100%;
    max-width: 100%; 
    padding: 10px;
    margin: 2px;
    background: rgb(40, 41, 43);
    font-family: "Allerta Stencil";
    color: greenyellow;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}
#form-popup #gameName {
    width: 100%;
    max-width: 100%; 
    padding: 10px;
    margin: 2px;
    background: rgb(40, 41, 43);
    font-family: "Allerta Stencil";
    color: greenyellow;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    height: 40px;
    overflow: hidden;
}
#form-popup input#button {
    width: 100%;
    padding: 10px;
    margin: 2px;
    border: none;
    background: greenyellow;
    opacity: 0.8;
    color: green;
}
#form-popup input#button:hover {
    opacity: 1;
}
#form-popup input#submitBtn {
    width: 100%;
    padding: 10px;
    margin: 2px;
    margin-top: 15px;
    border: none;
    background: greenyellow;
    opacity: 0.8;
    color: green;
}
#form-popup input#submitBtn:hover {
    opacity: 1;
}
.userCard{
    position: relative;
    margin: auto;
    margin-bottom: 5rem;
    background-color: rgb(40, 41, 43);
    border-radius: 10px;
    width: 80rem;
    padding: 10rem;
}
.userCard p{
    text-align: center;
    font-weight: bold;
    color: yellowgreen;
    font-size: 2.5rem;
}
.userCard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}