@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}
p { 
    font-size: 1.2em;   
} 
.starter-template { 
    text-align: center; 
    margin: 0;
    padding: 0;
    width: 100%;
}
.topDiv-home{
    text-align: center;
}
.topDiv-home h1{
    color: white;
    font-weight: bold;
    font-size: 55px;
}
.topDiv-home p{
    color: white;
}
.topDiv-home a{
    color: greenyellow;
    font-size: 20px;
    font-weight: bold;
}
.topDiv-home a:hover{
    cursor: pointer;
}
.topContainer-home{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.mainDiv-home-pic {
    flex: 2;
}
.mainDiv-home-text {
    flex: 1;
    padding-right: 15rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-right: -10rem;
    background-color: rgb(40, 41, 43);
    color: white;
    align-self: center;
}
.mainDiv-home-text h1{
    font-weight: bold;
}
.mainDiv-home-pic-2 {
    flex: 2;
}
.mainDiv-home-text-2 {
    flex: 1;
    padding-left: 15rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-left: -10rem;
    background-color: rgb(40, 41, 43);
    color: white;
    align-self: center;
    text-align: right;
}
.mainDiv-home-text h1{
    font-weight: bold;
}
.secondDiv-home {
    height: 300px;
    width: 45%;
    float: left;
    position: relative;
    margin: auto;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    border-radius: 25px;
}
.thirdDiv-home {
    height: 300px;
    width: 45%;
    position: absolute;
    float: left;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    border-radius: 25px;
}
.pageTitle {
    position: absolute; 
    margin-top: 10rem;
    color: white;
    font-weight: bold;
}
.coverImage {
    width: 100%;
    height: 100%;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: rgb(40, 41, 43);
    border-width: 0;
    -webkit-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
    box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.48);
}
.navbar .collapse ul li a {
    color: rgb(255, 255, 255);
    font-size: 15;
    font-weight: bold;
}
.navbar .collapse ul .active .navlink {
    background-color: rgb(83, 79, 77);
    color: rgb(255, 255, 255);
    font-size: 15;
    font-weight: bold;
}
.navbar .collapse .navbar-header .navbar-brand {
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    padding-left:10px;
    padding-right:10px;
    font-family: 'Exo';
    font-size: 40px;
    transform: skew(-15deg);
    letter-spacing: 0.01em;
}
.navbar .collapse .navbar-header .navbar-brand-sub {
    font-family: 'Mr Dafoe';
    font-size: 20px;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em black, 0 0 0.3em black;
    transform: rotate(-2deg);
    position: absolute;
    top: 2.5rem;
    left: 20rem;
    letter-spacing: 0.1em;
    text-decoration: underline;
    text-decoration-color: white;    
}
.navbar .collapse ul {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
