{% extends "base.html" %} 
{% set active_page = "about" %} 
{% block body %} 
<div class="mainDiv-about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lorem rhoncus, condimentum massa eget, semper sapien. Suspendisse vitae magna venenatis, iaculis odio eu, cursus neque. Vivamus imperdiet sapien velit, nec venenatis dolor laoreet in. Phasellus dictum ac felis eget lacinia. Vivamus porttitor magna justo, vitae mattis nisi fermentum ut. Curabitur vehicula augue erat, quis pellentesque risus tristique tempus. Nullam tempor purus massa, sollicitudin suscipit massa pretium sed. Maecenas ut dui nec nulla tristique malesuada nec quis nibh. Sed nibh sapien, tempor finibus rhoncus sit amet, gravida at eros. Nunc tempor lacinia eros non euismod. Sed maximus leo hendrerit, lacinia massa vel, tincidunt metus. Quisque magna lorem, sollicitudin nec dictum at, finibus quis felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse non ullamcorper libero. Aliquam erat volutpat.</p>
</div>
{% endblock %} 