{% extends "base.html" %} 
{% block head %}
    <link href="static/account.css" rel="stylesheet">
{% endblock %}
{% set active_page = "account" %} 
{% block body %}
<a id="detailsBtn" href="/accountInfo"><span class="glyphicon glyphicon-list"></span></a>
<div class="mainDiv-account">
    <p id="account-name"></p>
    {% for user in data %}
        <p>{{ user['gamertag'] }}</p>
    {% endfor %}
    <footer class="footer">
        <h1>© 2022 Matt Lee</h1>
    </footer>
</div>
<script>
    window.onload = function onload () {
        displayData();  
    }
</script>
{% endblock %} 