{% extends "base.html" %} 
{% block head %}
    <link href="static/account.css" rel="stylesheet">
{% endblock %}
{% set active_page = "account" %} 
{% block body %}
<div class="mainDiv-account">
    <div class="mainDiv-game">
            <form method="POST" id="form-popup" action="/accountInfo">
                <h1>Add/Edit Account Details</h1>
                <input type="text" id="gameSlug" name="gamertag" placeholder="Gamertag" required><br>
                <select id="gameSlug" name="platform"><br>
                    <option disabled selected hidden>Select Your Platform</option>
                    <option value="PC">PC</option>
                    <option value="NintendoDs">Nintendo DS</option>
                    <option value="NintendoSwitch">Nintendo Switch</option>
                    <option value="PS4">PS4</option>
                    <option value="PS5">PS5</option>
                    <option value="XBOXoneSX">XBOX One S/X</option>
                    <option value="XBOXseriesSX">XBOX Series S/X</option>
                </select>
                <select id="genre" name="genre"><br>
                    <option disabled selected hidden>Select Your Preferred Genre</option>
                    <option value="Racing">Racing</option>
                    <option value="Open World">Open World</option>
                    <option value="FPS">First Person Shooter</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Multiplayer">Multiplayer</option>
                    <option value="SinglePlayer">SinglePlayer</option>
                    <option value="Adventure">Adventure</option>
                </select>
                <select id="game" name="game"><br>
                    <option disabled selected hidden>Select Your Favourite Game</option>
                    {% for game in data %}
                        <option value="{{ game.name }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Update" id="submitBtn">
                <input type="button" value="Go back" onclick="location.href='/account'" id="button">
            </form>
    </div>
    <footer class="footer">
        <h1>© 2022 Matt Lee</h1>
    </footer>
</div>
<script>
    window.onload = function onload () {
        displayData();  
    }
</script>
{% endblock %} 