{% extends "base.html" %} 
{% block head %}
    <link href="../static/basket.css" rel="stylesheet">
{% endblock %}  
{% block body %} 
<a id="basket" href="/basket"><span class="glyphicon glyphicon-shopping-cart"></span></a>
<div class="conentDiv"> 
    <h1 class="basketTitle">Your Basket: </h1>
    <div class="rowDiv"> 
        {% for game in cart %}
            {% if user_data['user_id'] == game.userID %}    
                <div class="topContainer-basket">
                    <div class="mainDiv-basket-pic">
                        <img class="coverImage" src={{game.image}}>
                    </div>
                    <div class="mainDiv-basket-text">
                        <h3 id="gameName">{{game.name}}</h3>
                        <div id="priceDiv">
                            <h3>Price: £</h3>
                            <h3 id="price">{{game.price}}</h3>
                        </div>
                        <form action="/deleteFromCart" method="POST" id="form-popup">
                            <textarea type="text" id="gameSlug" name="gameName" hidden=true required>{{game.name}}</textarea>
                            <input type="submit" value="Remove from cart" name="deleteBtn" id="deleteCartItemBtn">
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="totalDiv">
        <h3>Total Price: £</h3>
        <h3>{{total|round(2, 'floor')}}</h3>
    </div>
    <div id="bottomBtnDiv">
        {% for game in cart %}
            {% if game.userID == user_data['user_id'] %}
                {% if loop.first %}
                    <form action="/orderComplete" method="POST" id="form-popup">
                        <input type="submit" value="Checkout" name="deleteBtn" id="checkout">
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
        <button name="deleteBtn" id="myOrders" onclick="location.href = '/myOrders'">My Orders</button>
    </div>
    <footer class="footer">
        <h1>© 2022 Matt Lee</h1>
    </footer>
</div>
{% endblock %} 