{% extends "base.html" %} 
{% block head %}
    <link href="../static/editGameDetails.css" rel="stylesheet">
{% endblock %}  
{% set active_page = "games" %} 
{% block body %}
<div class="conentDiv-games">                                 
    <div class="mainDiv-game">
        {% for game in data %}
            <form method="POST" id="form-popup" action="/editgames">
                <h1>Edit {{ game.name }}</h1>
                <label for="gameSlug">Game Slug:</label>
                <input type="text" id="gameSlug" name="gameSlug" value={{ game.slug }} required><br>
                <label for="gameName">Game Name:</label>
                <textarea type="text" id="gameName" name="gameName" required>{{ game.name }}</textarea><br>
                <label for="gameReleaseDate">Game Release Date:</label>
                <input type="date" id="gameReleaseDate" name="gameReleaseDate" value={{ game.released }} required><br>
                <label for="gameRating">Game Rating /5:</label>
                <input type="number" step="0.01" id="gameRating" name="gameRating" value={{ game.rating }} required><br>
                <label for="gameImage">Game Image:</label>
                <input type="url" id="gameImage" name="gameImage" value={{ game.background_image }} required><br>
                <label for="gamePrice">Game Price:</label>
                <input type="number" step="0.01" id="gamePrice" name="gamePrice" value={{ game.price }} required><br>
                <label for="gameDescription">Game Description: (Type 'newline' when you want to start a new paragraph/line in description)</label>
                <textarea type="text" id="gameDescription" name="gameDescription" required>{{ game.description }}</textarea><br>
                <input type="submit" value="Update" id="submitBtn">
                <input type="button" value="Go back" onclick="goback()" id="button">
            </form>
        {%  endfor %}
    </div>
</div>
<script>
    function goback() {
        location.href = "/games"
    }
</script>
{% endblock %} 