{% extends "base.html" %} 
{% block head %}
    <link href="static/editgames.css" rel="stylesheet">
{% endblock %}  
{% set active_page = "games" %} 
{% block body %}
<a id="add-game" href="/add-game"><span class="glyphicon glyphicon-plus"></span></a>
<div class="conentDiv-games">
    <div class="center">   
        {% for game in data | sort(attribute='name') %}                                     
            <a class="topContainer-game" href="{{ '/editgames/%s'%game.slug|urlencode }}">
                <div class="mainDiv-game">
                    <img class="gameImage" src={{ game.background_image }}>
                    <h1>{{ game.name }}</h1>
                </div>
            </a>
        {% endfor %}
    </div>
    <footer class="footer">
        <h1>© 2022 Matt Lee</h1>
    </footer>
</div>
{% endblock %} 