{% extends "base.html" %} 
{% block head %}
    <link href="static/gamesDetails.css" rel="stylesheet">
{% endblock %}  
{% set active_page = "games" %} 
{% block body %}
<div class="conentDiv-games">   
    <div class="mainDiv-game">
        {% for game in data %}
            <div>
                <img class="gameImage" src="{{ game.background_image }}">
                <h1 id="image" hidden=true>{{ game.background_image }}</h1>
            </div>
            {% if user_data %}
                <h1 hidden="true" id="user_id">{{ user_data['user_id'] }}</h1>
            {% endif %}
            <h1 hidden="true" id="slug">{{ game.slug }}</h1>
            <div class="infoDiv">
                <h1 id="gameName">{{ game.name }}</h1>
                {% if game.price == "FREE" %}
                    <p id="price">{{ game.price }}</p>
                {% elif game.price | float %}
                    <div id="priceDiv">
                        <h3>Price: £</h3>
                        <h3 id="price">{{game.price}}</h3>
                    </div>
                {% else %}
                <p id="price" class="badPricing">Error, bad pricing</p>
                {% endif %}
                <p id="rating">Rating: {{ game.rating }}/5 </p>
                <p id="About">{{ game.description }}</p>
                {% if game.price == 'FREE' %}
                    <button id="addToBasket">Download</button>
                {% else %}
                    <a class="addToBasket" onclick="addToCart()">Add to Cart</a>
                {% endif %}
            </div>
        {%  endfor %}
        <a id="delete-game" hidden=true onclick="deleteGame(slug)"><span class="glyphicon glyphicon-trash"></span></a>
        
    </div>
</div>
<script>
    /**
     *
     * This function gets the innerHTML of the element, with id slug.
     *
     * This function then creates a DELETE API request to the python flask back-end server with the API path
     * '/deleteGame/'.
     *
     * @param slug   The Games's slug
     *
    */
    function deleteGame(slug){
        slug = document.getElementById("slug").innerHTML;
        console.log(slug)
        'use strict'
        const xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/deleteGame/' + String(slug), true);
        xhr.onload = function () {
            if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300){
                location.href = "/games"

            } else {
                alert("Error: " + xhr.status)
            }
        }
        xhr.send();
    }
    /**
     *
     * This function gets the user id of the user that is currently signed in with firebase authentication and 
     * also gets name, price and image from the elements cointaining i'ds gameName, price and image resepectively
     *
     * This function then creates a POST API request to the python flask back-end server with the API path
     * '/addToCart/' + the logged in user's user id.
     *
     * @param uid   The user's userID
     *
     */
    function addToCart(){
        name = document.getElementById("gameName").innerHTML;
        userID = document.getElementById("user_id").innerHTML;
        price = document.getElementById("price").innerHTML;
        image = (document.getElementById("image").innerHTML);
        // console.log(escape(image));
        // console.log(name, userID, price, image)
        console.log(String(image))
        // console.log(JSON.stringify(image))
        'use strict'
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/addToCart/' + String(name) +"/"+ String(userID) +"/"+ String(price) +"/"+ String(image), true);
        xhr.onload = function () {
            if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300){
                location.href = "/games"

            } else {
                alert("Error: " + xhr.status)
            }
        }
        xhr.send();
    }
    /**
     *
     * Everytime 'newline' is found on the page it will remove it and replace it with a line break
     */
    window.onload = function replace () {
        document.body.innerHTML
                = document.body.innerHTML
                .replace(/newline/gi, "<br><br>");
        deleteBtn();
    }
</script>
{% endblock %} 