{% extends "base.html" %} 
{% block head %}
    <link href="static/gamesDetails.css" rel="stylesheet">
{% endblock %}  
{% set active_page = "games" %} 
{% block body %}
<div class="conentDiv-games">                                 
    <div class="mainDiv-game">
        {% for game in data %}
            <div>
                <img class="gameImage" src="{{ game.background_image }}">
            </div>
            <h1 hidden="true" id="slug">{{ game.slug }}</h1>
            <div class="infoDiv">
                <h1 id="gameName">{{ game.name }}</h1>
                {% if game.price == "FREE" %}
                    <p id="price">{{ game.price }}</p>
                {% else %}
                    <p id="price">£{{ game.price }}</p>
                {% endif %}
                <p id="rating">Rating: {{ game.rating }}/5 </p>
                <p id="About">{{ game.description }}</p>
            </div>
        {%  endfor %}
        <a id="delete-game" hidden=true onclick="deleteGame(slug)"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>
<script>
    function deleteGame(slug){
        slug = document.getElementById("slug").innerHTML;
        'use strict'
        const xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/deleteGame/' + String(slug), true);
        xhr.onload = function () {
            if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300){
                location.href = "/games"

            } else {
                alert("Error: " + xhr.status)
            }
        }
        xhr.send();
    }
    window.onload = function replace () {
        document.body.innerHTML
                = document.body.innerHTML
                .replace(/newline/gi, "<br><br>");
        deleteBtn();
    }
</script>
{% endblock %} 