<!doctype html>
<!-- 
  Main page at the front of the web application, authenticates users, 
  using firebase authentication and firebase-authui
 -->
<html>
  <head>
    <title>Advanced Developmeny Coursework</title>
    <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div class="logoDiv">
      <h1 class="brand">GameZone</h1><h1 class="brand-sub">Game Store</h1>
    </div>
    <div id="firebaseui-auth-container"></div>
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
  <script>
    // Firebase configuration
    var firebaseConfig = {
          apiKey: "AIzaSyCJIw3wmaEl0dEb9wQsi8cGsQyEMJVPe9Q",
          authDomain: "ad-364515.firebaseapp.com",
          projectId: "ad-364515",
          storageBucket: "ad-364515.appspot.com",
          messagingSenderId: "998989263237",
          appId: "1:998989263237:web:46ccb72401634a2e4b14ec"
      };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var uiConfig = {
        signInSuccessUrl: '/home',
        signInOptions: [
            firebase.auth.EmailAuthProvider.PROVIDER_ID,
            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            firebase.auth.GithubAuthProvider.PROVIDER_ID,
        ],
    };
    firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
        console.log(`Signed in as ${user.displayName} ${user.email}`);
        window.location.replace("/home");
        user.getIdToken().then(function (token) {
        // Add the token to the browser's cookies. The server will then be
        // able to verify the token against the API.
        // SECURITY NOTE: As cookies can easily be modified, only put the
        // token (which is verified server-side) in a cookie; do not add other
        // user information.
        document.cookie = "token=" + token;
    });
    } else {
        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // No user signed in, render sign-in UI.
        ui.start('#firebaseui-auth-container', uiConfig);
        document.getElementById('login-info').style.display = 'none';
        document.getElementById('sign-out').style.display = 'none';
        }
    });
  </script>
</html>